.resultado-container {
  padding: 2rem;
  font-family: sans-serif;
  max-width: 800px;
  margin: auto;
}

.relatorio-card {
  background: #f9f9f9;
  padding: 1.5rem;
  border-radius: 8px;
  border: 1px solid #eee;
  margin-top: 1rem;
}

.relatorio-secao {
  margin-top: 1.5rem;
}

.relatorio-secao strong {
  display: block;
  margin-bottom: 0.5rem;
  color: #333;
}

.relatorio-secao p,
.relatorio-secao li {
  line-height: 1.6;
  color: #555;
}

.relatorio-secao ul {
  padding-left: 20px;
}

.relatorio-dados-flex {
  margin-top: 1.5rem;
  display: flex;
  gap: 2rem;
}

.relatorio-dados-flex p {
  text-transform: capitalize;
  margin-top: 0.25rem;
}

.loading-error-container {
    padding: 2rem;
    text-align: center;
}

.error-message {
    color: red;
}
.next-btn {
  margin-top: 3rem;
  font-family: inherit;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.05em;
  border-radius: 0.8em;
  cursor: pointer;
  border: none;
  color: ghostwhite;
  padding: 0.8em 1.2em;
  background: linear-gradient(to right, #8e2de2, #4a00e0);
  background-size: 200% 100%;
  background-position: left;
  transition: all 0.4s ease;
  overflow: hidden;
}

.next-btn:hover {
  color: white;
  background-position: right; 
}

.contato-pagamento {
  margin-top:3rem ;
  background-color: #eaf4ff;
  border: 1px solid #b6d4fe;
  padding: 15px 20px;
  border-radius: 10px;
  font-size: 1em;
  color: #0b3d91;
  line-height: 1.5;
  text-align: center;
}

.contato-pagamento strong {
  font-weight: bold;
}